<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.stickshiftdraft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/driver"
        android:label="@string/app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourcesActivity"
            android:label="@string/resources_label"/>
        <activity
            android:name=".QuestionListActivity"
            android:label="@string/question_list_label"/>
        <activity
            android:name=".FlashcardActivity"
            android:label="@string/flashcard_label"/>
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu_label"></activity>
    </application>

</manifest>

    <!--From https://icons8.com/license/: "For smartphone apps, please set a link in the
    About dialog or settings and on App Store or Google Play description."

    -->